@tailwind base;
@tailwind components;
@tailwind utilities;

.main-grad {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    45deg,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
